@using WebStore_GB.Models
@model IEnumerable<Employee>

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Первое приложение @ViewBag.Title</title>
</head>
<body>
    <h3>Сотрудники!</h3>
    <p>Первое представление!!!</p>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Surname</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>
                    <td>@employee.Age</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
